.fluid-card-more-content-charts-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;

  strong {
    font-size: 18px;
  }
}

.fluid-card-more-content-charts {
  > strong {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.fluid-card-more-content-charts__item-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.fluid-card-more-content-charts__item {
  margin-bottom: 30px;
}
