@font-face {
  font-weight: normal;
  font-family: 'Clear Sans Light';
  font-style: normal;
  src: url('./ClearSans/ClearSansLight.eot');
  src: url('./ClearSans/ClearSansLight.eot?#iefix') format('embedded-opentype'),
    url('./ClearSans/ClearSansLight.woff2') format('woff2'), url('./ClearSans/ClearSansLight.woff') format('woff'),
    url('./ClearSans/ClearSansLight.ttf') format('truetype');
  font-display: fallback;
}

@font-face {
  font-weight: normal;
  font-family: 'Clear Sans Medium';
  font-style: normal;
  src: url('./ClearSans/ClearSansMedium.eot');
  src: url('./ClearSans/ClearSansMedium.eot?#iefix') format('embedded-opentype'),
    url('./ClearSans/ClearSansMedium.woff2') format('woff2'), url('./ClearSans/ClearSansMedium.woff') format('woff'),
    url('./ClearSans/ClearSansMedium.ttf') format('truetype');
  font-display: fallback;
}

@font-face {
  font-weight: normal;
  font-family: 'Clear Sans Regular';
  font-style: normal;
  src: url('./ClearSans/ClearSansRegular.eot');
  src: url('./ClearSans/ClearSansRegular.eot?#iefix') format('embedded-opentype'),
    url('./ClearSans/ClearSansRegular.woff2') format('woff2'), url('./ClearSans/ClearSansRegular.woff') format('woff'),
    url('./ClearSans/ClearSansRegular.ttf') format('truetype');
  font-display: fallback;
}

@font-face {
  font-weight: normal;
  font-family: 'Clear Sans Bold';
  font-style: normal;
  src: url('./ClearSans/ClearSansBold.eot');
  src: url('./ClearSans/ClearSansBold.eot?#iefix') format('embedded-opentype'),
    url('./ClearSans/ClearSansBold.woff2') format('woff2'), url('./ClearSans/ClearSansBold.woff') format('woff'),
    url('./ClearSans/ClearSansBold.ttf') format('truetype');
  font-display: fallback;
}
