@import '../../../../assets/styles/mixins.scss';

.info-block__link {
  display: inline-block;
  margin-top: 30px;
}

.info-block {
  margin-top: 30px;

  &:first-of-type {
    margin-top: 0;
  }
}

h3.info-block__title {
  @include xs() {
    margin-top: 15px;
  }
}
