.user-settings-fields {

}

.user-settings-fields__item {
  margin-bottom: 15px;
}

.user-settings-fields__item--subscribe {
  display: flex;
  align-items: center;

  div:last-of-type {
    margin-left: 15px;
  }
}