@import '../../../../assets/styles/mixins.scss';

.browser-history__event-icon {
  margin-right: 10px;

  i.icon {
    margin: 0;
  }
}

.browser-history__remove-button {
  margin-left: 10px;
}

.browser-history__text {
  display: flex;
  flex-direction: column;
  flex: 1;

  span {
    color: #777;
  }
}

.browser-history-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dddd;
}

.browser-history-controls__event-select {
  margin-right: 10px;
}

.browser-history-list__items {
  margin-bottom: 10px;
}

.browser-history-controls__actions {
  margin-left: 10px;
}

.browser-history-controls__input {
  flex: 1;

  .ui.input,
  input {
    width: 100%;
    display: block;
  }
}

.browser-history-controls {
  display: flex;

  @include xs() {
    flex-direction: column;

    > div {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;

      button,
      div.ui.dropdown {
        width: 100%;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
