.additional-settings {
  margin-top: 15px;
}

.additional-settings__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    margin-bottom: 5px;
  }
}

.additional-settings__field--disabled {
  opacity: 0.5;
}
