.timerange-select {
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 4px;

  label:not(.timerange-select__headline) {
    display: block;
    margin-bottom: 5px;
  }
}

.timerange-select__headline {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
}
