@import '../../../assets/styles/variables';

.campaign-list {
  margin-top: 20px;
}

.react-autosuggest__container {
  position: relative;
  margin-bottom: 10px;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 100%;
  width: 100%;
}

.campaign-list__add-form__actions {
  display: flex;
  justify-content: space-between;

  button {
    width: calc(100% - 10px);
  }
}

.brands-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dddd;
}

.react-autosuggest__container {
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.suggestion {
  padding: 7px 10px;
  background-color: #ddd;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: $color--blue;
    color: $color--white;
  }
}

.brands-list__add-form-controls {
  display: flex;

  .ui.input {
    flex: 1;
    margin-right: 10px;
  }
}

.brands-list__items {
  margin-bottom: 10px;
}

.brands-list-item {
  display: flex;
  align-items: center;
}

.brands-list-item__name {
  margin-right: 10px;
  flex: 1;
}
