@import '~normalize.css';
@import '~semantic-ui-css/semantic.min.css';
@import '~react-circular-progressbar/dist/styles.css';
@import '~rc-slider/assets/index.css';

@import '../fonts/style.css';

@import './variables.scss';
@import './icons.scss';
@import './mixins.scss';
@import './layout.scss';
@import './ui/cards.scss';
@import './ui/time-range.scss';
@import './ui/semantic-rewrite.scss';
@import './ui/loading-spinner.scss';
@import './ui/rc-slider.scss';
@import './ui/page-basic-components.scss';
@import './ui/masonary.scss';
@import './home/header.scss';
@import './home/search-line.scss';
@import './home/logged-user.scss';

@import './zone/main.scss';
@import './user_settings/main.scss';
@import './custom_audiences/main.scss';

@import './components/sandbox-panes.scss';
@import './components/select-search.scss';
@import './components/tags.scss';
@import './components/fluid-cards-list-items.scss';
@import './ui/row-label.scss';

body {
  overflow: hidden;
  margin: 0;
  color: #333;
}

label {
  margin-bottom: 5px;
}

.react-datepicker-wrapper {
  margin-bottom: 15px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.react-datepicker__input-container input,
.react-autosuggest__container input,
.select-search__input {
  margin: 0;
  max-width: 100%;
  width: 100%;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0.67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  box-shadow: none;
  font-size: 14px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: $color--blue;
}

.flex-jc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.label-error {
  color: #9f3a38;
  margin-top: -10px;
}

.load-more {
  text-align: center;
}
