$cross-size: 20px;

.layout {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.button-border {
  height: 40px;
  padding: 0 12px;
  color: #43425d;
  font-size: 18px;
  background: #fff;
  border: 1px solid #43425d;
  border-radius: 6px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.cross {
  position: relative;
  width: $cross-size;
  height: $cross-size;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: $cross-size;
    height: 5px;
    margin: auto;
    background: #363636;
    transform: rotate(-45deg);
    content: '';
  }

  &:after {
    transform: rotate(45deg);
  }
}

.error-message {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #e7564e;
  border: 1px solid #e7564e;
  border-radius: .28571429rem;
  background-color: #ffecec;
  font-size: 12px;
  line-height: 1.1;
}

.warning-message {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #fcb559;
  border: 1px solid #fcb559;
  border-radius: .28571429rem;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.1;
}


.page {
  position: relative;
  z-index: 0;
  flex-basis: calc(100% - 280px);
  flex-grow: 1;
  background-color: #ffffff;

  @include xs() {
    z-index: 1;
    height: calc(100vh - 50px) !important;
  }
}

.page-container-scroll {
  position: relative;
  width: 100%;
  height: 100vh;
}

.metrics {
  position: relative;

  .part-header:first-of-type {
    margin-top: 40px;
  }
}

.page-container {
  position: relative;
  padding: 80px 42px 14px;
  margin-bottom: 100px;

  > h1 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 24px;
  }

  @include xs() {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.header.expanded + .page {
  flex-grow: 1;
}

.main__container {
  margin: 0 -21px;
}

.main__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -42px;
  margin-left: -42px;
  padding: 6px 42px;
  border-bottom: 1px solid #f5f4f4;
}

.custom-scroll-horizontal {
  width: 4px;
  background-color: #e2e2e2;
  border-radius: 6px;
}

.flex-line {
  display: flex;
}

.ui.form {
  margin-top: 8px;
}

.my-pretty-chart-container {
  margin-top: 25px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-metrics {
  margin-bottom: 15px;
}

.total-product-found {
  margin: 15px 0 10px !important;
}

.tokens__client {
  margin-bottom: 25px;
}

.title--extended {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
