@mixin inlineOffset($element: 'div', $count: 10, $offset-left: 10px, $offset-top: false) {
  $countString: '#{$count}n';

  &:not(:first-child):not(:nth-child(#{$countString} + 1)) {
    margin-left: $offset-left;
  }

  &:nth-child(#{$countString}) {
    ~ #{$element} {
      @if ($offset-top == false) {
        margin-top: $offset-left;
      }

      @if ($offset-top != false) {
        margin-top: $offset-top;
      }
    }
  }
}

@mixin rangeScrollBar($gradient, $trackIconColor) {
  input[type='range'] {
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
  }

  input[type='range']:focus {
    outline: none;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 29px;
    height: 20px;
    margin-top: -6px;
    background: $trackIconColor $rangeTrackIcon center no-repeat;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type='range']::-moz-range-thumb {
    width: 29px;
    height: 20px;
    background: $trackIconColor $rangeTrackIcon center no-repeat;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
  }

  input[type='range']::-ms-thumb {
    width: 29px;
    height: 20px;
    background: $trackIconColor $rangeTrackIcon center no-repeat;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
  }

  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: $gradient;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
  }

  input[type='range']:focus::-webkit-slider-runnable-track {
    background: $gradient;
  }

  input[type='range']::-moz-range-track {
    width: 100%;
    height: 8px;
    background: $gradient;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
  }

  input[type='range']::-ms-track {
    width: 100%;
    height: 8.4px;
    color: transparent;
    background: transparent;
    background: $gradient;
    border-color: transparent;
    border-radius: 3px;
    cursor: pointer;
  }

  input[type='range']::-ms-fill-lower {
    background: none;
    border: none;
    border-radius: 3px;
    box-shadow: none;
  }

  input[type='range']:focus::-ms-fill-lower {
    background: none;
  }

  input[type='range']::-ms-fill-upper {
    background: none;
    border: none;
    border-radius: 3px;
    box-shadow: none;
  }

  input[type='range']:focus::-ms-fill-upper {
    background: none;
  }
}

@mixin colorStatus {
  &:nth-child(2) {
    background: $lowColor;
  }

  &:nth-child(4) {
    background: $mediumColor;
  }

  &:nth-child(6) {
    background: $highColor;
  }

  &:nth-child(8) {
    background: $dangerColor;
  }
}

@mixin media($property, $value, $value-2: false) {
  @if ($property == min) {
    @media screen and (min-width: $value) {
      @content;
    }
  } @else if ($property == max) {
    @media screen and (max-width: $value) {
      @content;
    }
  } @else if ($property = minmax) {
    @media screen and (min-width: $value) and (max-width: $value-2) {
      @content;
    }
  }
}

@mixin lg($property: max, $value: 1200px) {
  @include mediaQuery($property, $value) {
    @content;
  }
}

@mixin md($property: max, $value: 1024px) {
  @include mediaQuery($property, $value) {
    @content;
  }
}

@mixin sm($property: max, $value: 992px) {
  @include mediaQuery($property, $value) {
    @content;
  }
}

@mixin s($property: max, $value: 560px) {
  @include mediaQuery($property, $value) {
    @content;
  }
}

@mixin xs($property: max, $value: 768px) {
  @include mediaQuery($property, $value) {
    @content;
  }
}

@mixin xxs($property: max, $value: 380px) {
  @include mediaQuery($property, $value) {
    @content;
  }
}

@mixin mediaQuery($property, $value) {
  $isValue: $value;

  @if ($property == min) {
    $isValue: $isValue + 1;
  }
  @include media($property, $isValue) {
    @content;
  }
}
