$colorAccent1: #363636;
$colorBackgroundPage: #f5f6f5;

$fontGraphicalLight: 'Clear Sans Light', sans-serif;
$fontGraphicalMedium: 'Clear Sans Medium', sans-serif;
$fontGraphicalRegular: 'Clear Sans Regular', sans-serif;
$fontGraphicalBold: 'Clear Sans Bold', sans-serif;

$filtersPageGradient: linear-gradient(
  90deg,
  #ff0000 0%,
  #ff2b74 14.8%,
  #ff2b74 31%,
  #ffb62b 57.7%,
  #a2e81c 80.1%,
  #a2e81c 100%
);

$projectDetailsGradient: linear-gradient(90deg, #6cf281 0%, #d8e72a 53.65%, #f0655d 100%);

$mediumColor: #a2e81c;
$lowColor: #1cc9e8;
$highColor: #ffb62b;
$dangerColor: #ff0000;
$reopenColor: #ff2b74;
$doneColor: #10bc72;
$openColor: #c9c9c9;

$color--dark-orange: #ff6951;
$color--orange: #feaf55;
$color--purple: #6625ab;
$color--blue: #6725ea;
$color--white: #fff;

$gradient--purple-to-blue: linear-gradient(15deg, $color--purple 0%, $color--blue 100%);
$gradient--dark-orange-to-orange: linear-gradient(45deg, $color--dark-orange 0%, $color--orange 100%);
