.fluid-card-show-disabled {
  width: 100%;

  > .ui {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.fluid-card-filters,
.fluid-card-actions {
  margin-bottom: 10px;
}

.fluid-card-actions {
  button {
    min-width: 65px;
  }
}
