.most-popular-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.most-popular-items-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  text-align: left;

  &:last-of-type {
    border-bottom: 0;
  }
}

.most-popular-items-item__title {

}

.most-popular-items-item__count {
margin-left: 20px;
}
