// '#ff6951', '#feaf55', '#6725ea', '#6625ab'
.custom-legend {
  display: flex;
  flex-wrap: wrap;
}

.custom-legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }

  .custom-legend-item__color {
    width: 14px;
    height: 14px;
    background-color: red;
    margin-right: 5px;
  }

  .custom-legend-item__label {
    font-size: 14px;
  }

  &--similar_products {
    .custom-legend-item__color {
      background-color: #ff6951;
    }
  }

  &--personal_recommendations {
    .custom-legend-item__color {
      background-color: #feae55;
    }
  }

  &--basket_recommendations {
    .custom-legend-item__color {
      background-color: #6726ea;
    }
  }

  &--organic {
    .custom-legend-item__color {
      background-color: #51c3c5;
    }
  }
}
