.chart-item {
  position: relative;
  margin-top: 20px;
}

.chart-item__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 21px);
  z-index: 1;
  border: 1px solid #eee;
  background-color: #fff;
}
