@import '../../../assets/styles/variables.scss';

.sales-funnel {
  display: flex;
  flex-direction: column;
}

.sales-funnel-item {
  display: flex;
  height: 30px;
  align-items: center;
}

.sales-funnel-item__icon {
  margin-right: 10px;
}

.sales-funnel-item__bar {
  width: 100%;
  height: 30px;
  color: #333;
}

.sales-funnel-item__bar-inner {
  height: 30px;
  line-height: 30px;
  min-width: 2px;
}

.sales-funnel-item:nth-child(1) .sales-funnel-item__bar-inner {
  background-color: #e7564e;
  width: 100%;
  padding-left: 5px;
}

.sales-funnel-item:nth-child(2) .sales-funnel-item__bar-inner {
  background-color: #fcb559;
  padding-left: 5px;
  width: 75%;
}

.sales-funnel-item:nth-child(3) .sales-funnel-item__bar-inner {
  background-color: #51c3c5;
  padding-left: 5px;
  width: 50%;
}

.sales-funnel-item:nth-child(4) .sales-funnel-item__bar-inner {
  background-color: #1775b7;
  padding-left: 5px;
  width: 25%;
}

.sales-funnel-item__percent {
  min-width: 47px;
  margin-left: 10px;
}

.sales-funnel-label {
  display: none;
}

.sales-funnel-item:hover {
  .sales-funnel-item__bar {
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
  }

  .sales-funnel-label {
    display: block;
    white-space: nowrap;
  }

  .sales-funnel-value {
    display: none;
  }
}
