@import '../../../../assets/styles/variables';

.editable-static-field {
  padding: 0.67857143em 1em;
}

.editable-static-field__value {
  cursor: pointer;

  .editable-static-field--active & {
    display: none;
  }

  &:hover {
    color: $color--blue;

    i svg {
      fill: $color--blue;
    }
  }

  i {
    position: relative;
    top: 1px;
  }
}

.editable-static-field__input {
  min-width: 178px;
  display: none;

  .editable-static-field--active & {
    display: block;
  }

  .ui.input,
  .ui.selection {
    width: 100%;
  }
}

.editable-static-field__input-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;

  .ui.button {
    width: calc(50% - 10px);
  }
}
