@import '../variables.scss';

header {
  position: relative;

  @include xs() {
    width: 100%;
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    overflow: hidden;
    background: $gradient--purple-to-blue;
    transition: width 0.3s ease-out;

    @include xs() {
      z-index: 3;
      position: relative;
      top: 0;
      left: 0;
      min-width: 100%;
      align-items: flex-start;
      width: 100%;
      height: 50px !important;
      border: 0;
      background: none;
      overflow: visible;
      box-shadow: 0 5px 36px -20px rgba(0, 0, 0, 0.3);
    }

    .header-main__menu .header__link span {
      width: 100%;

      @include xs(min) {
        position: absolute;
        left: 40px;
        margin-left: 10px;
        opacity: 1;
        transition: left 0.4s;
        height: 24px;
        line-height: 24px;
      }
    }

    &.expanded {
      width: 100px !important;
      transition: width 0.3s ease-out;

      .header-main__menu {
        .header__link {
          @include xs(min) {
            span {
              position: absolute;
              left: 0;
              opacity: 0;
            }
          }

          img {
            margin-right: 0;
          }
        }
      }
    }

    &.mobile {
      @include xs() {
        // position: fixed !important;
        z-index: 2;
        // height: 100vh !important;
        width: 90%;

        .header-main__menu {
          z-index: 2;
          transform: translateX(0);
        }
      }
    }
  }

  .header-mobile {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
    font-size: 0;
    line-height: 0;
    max-height: 50px;

    @include xs() {
      width: 100%;
    }

    @include xs(min) {
      display: none;
    }
  }

  .header-mobile__hamburger-menu {
    display: none;
    width: 21px;
    height: 18px;
    cursor: pointer;

    @include xs() {
      display: block;
    }
  }

  .expand-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $color--white;
    right: 35px;
    bottom: 35px;
    width: 29px;
    height: 29px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: rgba($color--white, 0.3);
    }

    &.reversed {
      transform: rotate(180deg);
    }

    i {
      height: 19px;
    }

    @include xs() {
      display: none;
    }
  }

  .header__logo {
    width: 100%;
    margin: 25px 0 25px;
    text-align: center;
    min-height: 45px;

    @include xs() {
      margin: 0;
      order: 2;
      padding-right: 15px;
    }

    img {
      max-width: 189px;
      height: auto;
    }
  }

  .header-main__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;

    @include xs() {
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 280px;
      background: $gradient--purple-to-blue;
      transform: translateX(-100%);
      padding: 75px 0 30px 15px;
    }

    .header__link {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 0 10px 15px;
      color: $color--white;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 15px;
      transition: 0.3s ease;
      border-radius: 500px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
      cursor: pointer;

      i {
        font-size: 1.25em;

        @include xs() {
          margin-right: 10px;
        }
      }

      &:hover,
      &.active,
      &.header__link__toggler--expanded {
        background: $gradient--dark-orange-to-orange;
        color: $color--white;
      }

      @include xs() {
        align-items: center;
        width: 100%;
        margin-bottom: auto;
        text-align: left;
        margin-bottom: 15px;
      }

      img {
        width: 18px;
        height: auto;

        @include xs() {
          width: 50px;
          height: 50px;
          margin: 0 0 10px;
        }
      }
    }
  }

  .header__navigation {
    width: 100%;
    padding: 0 0 0 15px;
    max-height: calc(100vh - 210px);
    overflow-y: scroll;
    box-sizing: content-box;
    overflow-x: hidden;

    @include xs() {
      padding: 0;
      order: 1;
    }
  }
}

.header-main__menu .header-mobile__hamburger-menu {
  position: absolute;
  left: 15px;
  top: 16px;
  z-index: 9;
}

.mobile.header .header-main__menu .header__link span.hidden.transition {
  display: inline-block;
  visibility: visible;
}

.header-link__links {
  padding-left: 20px;
}
