.logged-user__container {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;

  .page & {
    @include xs() {
      display: none;
    }
  }
}

.image-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.logged-user__avatar {
  display: flex;
}

.logged-user__name {
  color: #333;
  font-size: 18px;
  font-family: $fontGraphicalRegular;
  line-height: 20px;
  cursor: pointer;

  .header > .header-main__menu & {
    color: #fff;
  }
}

.logged-user__name .ui.inline.dropdown:not(.selection) > .text {
  font-weight: 500;

  @include xs() {
    font-size: 14px;
  }
}

.ui.labeled.icon.button,
.ui.labeled.icon.buttons .button {
  background-color: rgba(0, 0, 0, 0.85);
}

.ui.dropdown:not(.selection) {
  > .text {
    color: #fff;

    i::after,
    i::before {
      color: #fff;
    }
  }
}

.ui.labeled.icon.button > .icon:after,
.ui.labeled.icon.button > .icon:before,
.ui.labeled.icon.buttons > .button > .icon:after,
.ui.labeled.icon.buttons > .button > .icon:before {
  color: #fff;
}

.ui.labeled.icon.button > .icon,
.ui.labeled.icon.buttons > .button > .icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.ui.dropdown:not(.selection) .menu > .item {
  color: #fff;
}

.ui.dropdown:not(.selection) .menu,
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  // background-color: rgba(0, 0, 0, 0.85);
}

.ui.floating.dropdown:not(.selection) > .menu {
  margin-top: 0 !important;
}

.ui.dropdown .menu > .item:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

.ui.dropdown:not(.selection) .menu .selected.item {
  color: $color--orange;
  background-color: rgba(0, 0, 0, 0.85);

  &:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.ui.dropdown .selected.item {
  &:hover {
    background-color: rgba(0, 0, 0, 0.95) !important;
  }
}

.ui.dropdown:not(.selection) .menu > .item:hover {
  color: $color--orange;
}

.ui.floating.dropdown .menu {
  box-shadow: none !important;
  top: calc(100% + 5px);
}

.ui.top.pointing.dropdown:not(.selection) > .left.menu:after,
.ui.top.right.pointing.dropdown:not(.selection) > .menu:after {
  display: none;
}

.ui.top.right.pointing.dropdown:not(.selection) > .menu {
  top: calc(100% + 5px);
  width: 100%;
  margin-top: 0;
}
