.search-line {
  position: fixed;
  top: 0;
  width: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 14px 42px;
  box-shadow: 0 2px 6px #0000000a;
  z-index: 5;
  background-color: $color--white;
  transition: 0.3s ease-out;

  body.expanded & {
    width: calc(100% - 280px);
  }

  @include xs() {
    .page > & {
      display: none;
    }
  }

  .header:not(.mobile) > .header-main__menu & {
    display: none;

    @include xs() {
      display: flex;
    }
  }

  .header > .header-main__menu & {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    background-color: transparent;

    @include xs() {
      display: flex;
      top: 8px;
    }
  }

  .header-mobile & {
    padding-right: 0;
    background: none;
  }

  > div {
    position: relative;

    .dropdown:not(.selection) {
      position: relative;
      border-radius: 4px;
      background-color: rgba(#000, 0.85);
      padding: 7px 10px;
    }
  }

  .logged-user__name .ui.dropdown:not(.selection),
  .text {
    position: static;
    font-size: 16px;
  }

  @include xs() {
    position: relative;
    display: flex;
    padding: 5px 15px;
    justify-content: flex-end;
    box-shadow: none;

    > div {
      width: 50%;

      .header > .header-main__menu & {
        width: auto;
      }

      .header-mobile & {
        width: auto;
      }
    }
  }
}

.search-line__search {
  display: flex;
  align-items: center;

  @include xs() {
    width: auto;
    margin: 0;

    .header-mobile & {
      margin-right: 10px;
    }
  }
}

.search-line__search .ui.search {
  width: 100%;
}

.search-line__search .ui.input {
  width: 100%;
}

.search-line__search .ui.input .prompt {
  height: 40px;
  padding: 10px 40px 10px 16px;
  color: #aeaeb4;
  font-family: $fontGraphicalMedium;
  background: #f2f2f2;
  border: none;
  border-radius: 6px;

  @include xs() {
    background: transparent;
    box-shadow: none;

    &::placeholder {
      font-size: 0;
    }

    ~ .search-text {
      left: 50%;
      width: 100%;
      padding: 0;
      color: #707070;
      font-weight: 600;
      font-size: 17px;
      text-transform: capitalize;
      background-image: url(../../images/team-page/filter.svg);
      background-position: calc(50% + 43px) center;
      border: 0;
      transform: translateX(-50%);
      pointer-events: none;

      &:before {
        right: -1px;
        left: auto;
        height: calc(100% - 10px);
        background-color: #9393933b;
      }
    }
  }
}

.search-line__search .ui.input .search {
  display: none;
}

.search-line__search .button-border {
  position: relative;
  height: 26px;
  margin-left: -50px;
  background: transparent;
  border: none;
  border-left: 1px solid #c4c4c4;
  border-radius: 0;
}

.search-line__search .ui.button .plus.icon {
  background-color: transparent;
}

.search-line__view-threads {
  display: none;
  color: #707070;
  font-weight: 600;
  font-size: 17px;
  font-family: $fontGraphicalBold;
  text-align: center;
  background-image: url(../../images/team-page/threads.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 75px) center;

  @include xs() {
    display: block;
  }
}

.ui.inline.dropdown:not(.selection) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i.icon {
    color: #fff;
    margin-right: 0;
    margin-left: 10px;
  }
}
