.product-information {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 16px;
}

.product-information__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
  border-bottom: 1px solid #eee;

  span {
    text-align: right;
  }
}
