@import '../variables.scss';

.ui.cards > .card:not(.icon),
.ui.cards > .my-masonry-grid .card:not(.icon) {
  border-radius: 0px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.15);
  min-height: 85px;
  width: auto;
  min-width: 200px;
  flex: 1;

  @include sm() {
    width: 100%;
    flex: none;
  }

  @media screen and (max-width: 819px) {
    width: 45%;
    min-width: auto;
  }

  @include xs() {
    min-height: auto;
    width: calc(50% - 14px);
  }

  @include xxs() {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    background-color: transparent;
    color: #333 !important;
    min-height: 26px;
    overflow: inherit;

    @include xs() {
      font-size: 16px !important;
      height: auto;
    }
  }

  .meta {
    font-size: small;
    font-weight: 700;
    color: white;
    padding-right: 4px;
    text-align: end;
    background-color: orangered;
    padding-left: 4px;
    position: absolute;
    right: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0px;
  }

  .description {
    font-size: x-large;
    font-weight: 700;
    color: $color--purple !important;
    text-align: left;

    &.negative {
      color: #d91a22 !important;
    }

    &.positive {
      color: $doneColor !important;
    }
  }
}

.ui.cards {
  margin-top: 10px;
  align-items: flex-start;
}

.preload-card i.icon.loading {
  font-size: x-large;
  font-weight: 700;
  color: $color--purple;
}

.ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
  font-weight: 700;
}

.hide-gridlines-y {
  svg g[clip-path] {
    > g:first-of-type {
      display: block;
    }
  }

  svg > g:first-of-type > g:last-of-type {
    // display: none;
  }
}

.hide-gridlines {
  svg g[clip-path] {
    > g:first-of-type {
      display: none;
    }
  }

  svg > g:first-of-type > g:last-of-type {
    display: none;
  }
}

.my-masonry-grid {
  .ui.card,
  .ui.cards > .card {
    width: 100%;
  }
}

.ui.cards > .my-masonry-grid .card { 
  min-width: 100%;
}