.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  width: 100%;
}

.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}
