.part-header {
  font-size: x-large;
  font-weight: 700;
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0;
  }

  @include xs() {
    font-size: 18px;

    &:first-of-type {
      margin-top: 15px;
    }
  }
}

.part-header--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-tags__search-wrapper {
  input {
    width: 100% !important;
  }
}
