.focus-range {
  width: 60%;
  margin: 0 25px 0 0;

  .rc-slider-track {
    background: $filtersPageGradient;
  }

  .rc-slider-handle {
    width: 24px;
    height: 24px;
    margin-top: -10px;
    background: $mediumColor $rangeTrackIcon center no-repeat;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
  }

  .rc-slider-dot {
    display: none;
  }

  .rc-slider-mark {
    span:first-child,
    span:last-child {
      top: -18px;
      transform: none !important;
    }

    span:first-child {
      left: -50px !important;
    }

    span:last-child {
      right: -40px !important;
      left: unset !important;
    }
  }

  .rc-slider-mark-text {
    color: #43425d;
    font-weight: normal;
    font-size: 12px;
    font-family: $fontGraphicalMedium;
    font-style: normal;
    line-height: 13px;
  }
}

.filters-range {
  width: 20%;
  margin: 16px 0 0 12px;

  @include xs() {
    width: 50%;
  }

  .rc-slider-track {
    background: $filtersPageGradient;
  }

  .rc-slider-handle {
    width: 24px;
    height: 24px;
    margin-top: -10px;
    background: $mediumColor $rangeTrackIcon center no-repeat;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
  }

  .rc-slider-dot {
    display: none;
  }

  .rc-slider-mark-text {
    color: #ffffff;
    font-weight: normal;
    font-size: 12px;
    font-family: $fontGraphicalMedium;
    font-style: normal;
    line-height: 13px;
  }

  .rc-slider-mark {
    margin-top: 5px;
  }
}
