.audience-groups {
  display: flex;
  flex-direction: column;
}

.audience-groups-group {
  width: 100%;
  margin-top: 25px;
}

.audience-groups-group-header__title {}
.audience-groups-group-header__actions {}

.audience-groups-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.audience-groups-group-header__title {
  font-weight: bold;
  font-size: 16px;
}

.not-assigned {
  font-size: 11px;
  font-weight: 400;
}

.fluid-card-information__name--audience {
  display: flex;
  align-items: center;
}

.audience-not-assigned {
  display: inline-flex;
  margin-left: 10px;
}
