.chart-togglers {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.chart-togglers--left,
.chart-togglers--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
