<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Tahoma;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 10px 40px 20px 40px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}


</style>
</head>
<body>

<div class="container">
  <div class="row">
    {% if g.error_message %}
    <p style="text-align:center;color:red;">{{ g.error_message }}</p>
    {% else %}
    <p style="text-align:center;color:red;">Unknown error :'(</p>
    {% endif %}
  </div>

  <div class="row" style="text-align:center;">
    <a href="/">Go to the main page</a>
  </div>
</div>
</body>
</html>
