<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Tahoma;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 10px 40px 20px 40px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: 0px;
  border-radius: 5px;
  margin: 5px 0px;
  opacity: 0.85;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

input[type=submit] {
  background-color: #779;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #669;
}

.google-auth {
  display: block;
  width: 191px;
  height: 46px;
  margin: auto;
  background-image: url("img/google/btn_google_signin_dark_normal_web.png")
}

#google-auth-hover-preloaded {
  background-image: url("img/google/btn_google_signin_dark_focus_web.png")
}

.google-auth:hover {
  background-image: url("img/google/btn_google_signin_dark_focus_web.png")
}

</style>
</head>
<body>

<div class="container">
  <form action="/login/auth" method="POST">
    {% if g.error_message %}
    <div class="row">
      <p style="text-align:center;color:red;">{{ g.error_message }}</p>
    </div>
    {% endif %}

    <div class="row">
      <h2 style="text-align:center">Login to MobiMobi.Tech Console</h2>
    </div>

    <div class="row">
      <a class="google-auth" href="/login/google"></a>
      <div style="display:none"><img src="public/img/google/google/btn_google_signin_dark_focus_web.png"></div>
    </div>

    <div class="row">
      <div style="text-align:center">
        <p>Or sign in using email and password:</p>
      </div>

      <input type="text" name="email" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Login">
    </div>

  </form>
</div>
</body>
</html>
