<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Tahoma;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 10px 40px 20px 40px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

</style>
</head>
<body>

<div class="container">
    <div class="row">
      <h2 style="text-align:center">Unsubscribed!</h2>
    </div>

    <p>You were successfully unsubscribed from "<strong>{{ g.subscription_name }}</strong>" subscription</p>
    <p>You can manage your subscriptions in <a href="https://console.mobimobi.tech">Mobimobi Console Application</a></p>
</div>
</body>
</html>
