.similar-product__event-icon {
  margin-right: 10px;

  i.icon {
    margin: 0;
  }
}

.similar-product__remove-button {
  margin-left: 10px;
}

.similar-product__text {
  display: flex;
  flex-direction: column;
  flex: 1;

  span {
    color: #777;
  }
}

.similar-product-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dddd;
}

.similar-product-controls__event-select {
  margin-right: 10px;
}

.similar-product-list__items {
  margin-bottom: 10px;
}

.similar-product-controls__actions {
  margin-left: 10px;
}

.similar-product-controls__input {
  flex: 1;

  .ui.input,
  input {
    width: 100%;
    display: block;
  }
}

.similar-product-controls {
  display: flex;
}
