.add-fluid-card-modal-content {
  display: flex;
  flex-direction: column;

  > .ui {
    margin-bottom: 10px;
  }
}

.fluid-cards-list-items {
  margin-bottom: 40px;
}

.fluid-card {
  padding: 10px 15px;
  box-shadow: 0 2px 6px #0000000a;
  margin-bottom: 15px;
}

.fluid-card-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include s() {
    flex-wrap: wrap;
  }
}

.fluid-card-information {
  max-width: 480px;
  min-width: 480px;

  @include md() {
    max-width: none;
    min-width: auto;
  }

  @include s() {
    order: 1;
    width: 70%;
  }
}

.fluid-card-information__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1;
  cursor: pointer;

  &:hover {
    color: $color--blue;
  }
}

.fluid-card-information__id {
  margin-bottom: 5px;

  span.id,
  span.brand {
    font-size: 13px;
    color: #777;
    font-weight: 400;
  }

  span.brand {
    text-transform: capitalize;
  }

  span.id {
    cursor: pointer;

    &:hover {
      color: #333;

      i svg {
        fill: #333;
      }
    }

    i {
      position: relative;
      top: 2px;
      margin-left: 5px;
    }
  }
}

table .ui {
  width: 100%;
}

.fluid-card-statistic {
  margin: 3px 10px;

  > .fluid-card-statistic {
    @include s() {
      margin: 0;
    }
  }

  @include s() {
    order: 3;
    margin: 10px 0 0;
    width: 100%;
  }
}

.fluid-card-more-content {
  margin-top: 10px;

  pre {
    white-space: pre-wrap;
  }
}

.fluid-card-more-content__main-settings-container {
  margin-bottom: 20px;
}

.fluid-card-information__next-campaign {
  color: #777;
}

.fluid-card-actions {
  @include s() {
    order: 2;
  }
}

.fluid-card-more-content-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;

  @include sm() {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

.fluid-card-more-content__zone-type,
.fluid-card-more-content__zone-campaigns {
  font-size: 16px;
}

.fluid-card-more-content__zone-campaigns {
  margin-bottom: 15px;
}

.fluid-card-more-content__zone-campaigns-label {
  margin-bottom: 5px;
}

.fluid-card-more-content-columns__column {
  width: calc(50% - 20px);

  @include sm() {
    width: 100%;
  }
}

.fluid-card-more-content__zone-settings {
  margin-top: 15px;

  > strong {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.fluid-card-more-content__zone-settings-item {
  margin-bottom: 5px;
}

.fluid-card-more-actions {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 0 20px;
}

.fluid-card-more-content__additional-content {
  padding: 20px;

  @include lg() {
    padding: 0;
  }
}

.fluid-card-more-content__description {
  margin: 10px 0;
  font-size: 16px;
  font-style: italic;
  color: #777;
}

.fluid-card-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #eee;
  border-bottom: none;

  @include lg() {
    flex-wrap: wrap;
  }

  &:last-of-type {
    border-bottom: 1px solid #eee;
  }
}

.fluid-card-setting__name {
  margin-right: 20px;
  word-break: break-word;
  max-width: 360px;

  @include lg() {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }
}

.fluid-card-setting__value {
  @include lg() {
    width: 100%;
  }

  .ui.selection.dropdown,
  .ui.input {
    @include lg() {
      width: 100%;
    }
  }
}
