.sandbox-recommendation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @include xs() {
    flex-direction: column;
  }
}

.sandbox-recommendation-pane {
  width: calc(50% - 20px);
  box-shadow: 0 2px 6px #0000000a;
  padding: 10px;
  margin-right: 20px;

  @include xs() {
    margin-right: 0;
    margin-top: 10px;
    width: 100%;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.sandbox-recommendation-settings__rec-numbers {
  margin-bottom: 15px;
}

.sandbox-recommendation-settings__rec-numbers label {
  margin-right: 10px;
}

.sandbox-recommendation-results {
  margin-top: 20px;
}

.sandbox-recommendation-results__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px #0000000a;
  padding: 15px;

  i {
    color: #777;
    margin-bottom: 5px;
  }
}

.sandbox-recommendation-results__item-title {
  font-weight: bold;
  font-size: 18px;
}

.sandbox-recommendation-results__error {
  border: 1px solid $reopenColor;
  padding: 20px;
  margin-top: 20px;
  color: $color--white;
  background-color: rgba($reopenColor, 0.75);
}

.sandbox-recommendation-results__query {
  margin-top: 20px;
}

.browser-history__add-form,
.similar-product__add-form,
.brands-list__add-form {
  position: relative;
}

.bh-list-suggestions,
.similar-products-suggestions,
.brands-list-suggestions {
  position: absolute;
  margin: 0;
  list-style: none;
  padding: 0;
  top: calc(100% + 10px);
  width: 100%;
  z-index: 11;
}

.suggestion-list-item {
  padding: 5px;
  background-color: #f7f7f7;
  cursor: pointer;
  color: #333;
  text-align: left;
  font-weight: bold;

  span {
    display: block;
    margin-right: 5px;
    color: #777;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
  }

  &:hover {
    background-color: #ededed;
  }
}

.sandbox-similar-product__input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .similar-product-list,
  .ui.input {
    width: 70%;
  }
}

.similar-product-list {
  margin-bottom: 20px;
  text-align: center;
}

.sandbox-settings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sandbox-settings__panes {
  width: 100%;
}
