@import '../../../assets/styles/variables.scss';

.select-search {
  position: relative;
}

.select-search__select {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
}

.select-search__options {
  padding: 0;
  list-style-type: none;
}

.select-search__option {
  width: 100%;
  border: none;
  background-color: #eee;
  padding: 10px 7px;
  cursor: pointer;
  text-align: left;

  &.is-selected {
    background-color: $color--orange;
    color: $color--white;
  }

  &:hover {
    background-color: $color--blue;
    color: $color--white;
  }
}

.select-search__input {
  border-radius: 0;
}
