@import '../../../assets/styles/mixins.scss';

.ab-charts {
  margin-top: 40px;
}

.ab-charts__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ab-charts__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  @include xs() {
    align-items: flex-start;
    flex-direction: column;
  }

  .row-label {
    @include xs() {
      margin-top: 7px;
    }
  }
}

.ab-charts-charts,
.ab-charts-results__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ab-charts-charts__item {
  margin-right: 20px;
  width: 50%;

  &:last-of-type {
    margin-right: 0;
  }
}

.ab-charts-results {
  margin-top: 30px;
}
